# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/todo-react/node_modules
/todo-react/.pnp
.pnp.js

# testing
/todo-react/coverage

# production
/todo-react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



application.yml

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/todo/nbproject/private/
/todo/nbbuild/
/todo/dist/
/todo/nbdist/
/todo/.nb-gradle/

### VS Code ###
/todo/.vscode/
